.header-index{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)) , url(../image/87_1280.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
    
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after{
    width: 100%;
    transition: 0.5s;

}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    text-align: center;
    
}
.text-box h1{
    font-size: 50px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 15px;
    color: #fff;
}
.DIV-A{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.DIV-A:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
.info{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600px;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row1{
    flex-basis:31% ;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px ;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    align-items: center;
    font-weight: 600px;
    margin: 10px 0;
}
.row1:hover{
    box-shadow: 0 0  20px 0px rgba(0,0,0,0.2);

}
.section-ph{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.row-img{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.row-img img{
    width: 100%;
    display: block;
}
.place{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;


}
.place:hover{
    background: rgba(226,0,0,0.7);

}
.place h3{
    width: 100%;
    font-weight: 500px;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.place:hover h3{
    bottom: 49%;
    opacity: 1;
} 
.news-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)) , url(../image/09.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
}
.news-header h1{
    margin-top: 100px;
    font-size: 62px;
}
.news{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.news-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.news-col img{
    width: 100%;
}
.news-col h1{
    padding-top: 0;

}
.news-col p{
    padding: 15px 0 25px;
}
.news-a {
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.news-a:hover{
    color: #fff;
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

}
footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.contact-header{
     min-height: 100vh;
     width: 100%;
     background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)) , url(../image/birt.jpg);
     background-position: center;
    background-size: cover;
     position: relative;
     text-align: center;
     color: #fff;
    

}
.contact-header h1{
    margin-top: 100px;
    font-size: 62px;
}
.contactus{
    width: 80%;
    margin: auto;
}
.contact1{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact1 div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact1 div .fa-solid{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact1 div h4{
    padding: 0;
}
.contact1 div p{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;

}

.contact1 input, .contact1 textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.footer-section .contact-form .text-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}
.about-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)) , url(../image/kompl.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;

}
.about-header h1{
    margin-top: 100px;
    font-size: 62px;
}

footer {
    background: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}
.post input {
    height: 30%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 250px;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section .social-icons a {
    color: #fff;
    margin: 0 5px;
    display: inline-block;
}

.footer-section .social-icons a:hover {
    color: #ddd;
}



.footer-section .contact-form .btn {
    background: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-section .contact-form .btn:hover {
    background: #444;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}
.textarea-1{
    vertical-align: middle;
}
.input-1{
    vertical-align: middle;
}




@media( max-width:900px){
    .row{
        flex-direction: column;
    }
}   
@media( max-width:700px){
    .row{
        flex-direction: column;
    }
    .text-box h1{
        font-size: 20px;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-220px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-link ul {
        padding: 32px;
    }

}



    